@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.block-user-info {
    height: 100vh;
    width: 100%;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.block-intern-user-info {
    display: block;
    height: 700px;
    background-color: #ffff;
    border-radius: 5px;
    width: 700px;
}

.block-int-user {
    height: 100%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.user-info-title {
    text-align: center;
    font-size: 27px;
    margin-bottom: 20px;
    color: #3a3a3a;
}

table, th, td {
    border-collapse: collapse;
    padding: 10px;
    color: #5a5a5a;
}

th {
    font-weight: 500;
    color: #4a4a4a;
}

td {
    padding: 5px;
    font-weight: 300;
}

.block-user-btn-exit {
    height: 30px;
    margin-bottom: 20px;
    display: block;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 110px;
    left: 300px;
}

.btn-user-block {
    height: 100%;
    width: 100%;
    background-color: #d83e3e;
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

.btn-user-block:link {
    color: #9a9a9a;
}

.btn-user-block:hover {
    color: #d83e3e;
    background-color: #e3e3e3;
}